body{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

#agregU,
#cotiza
{
    display: flex;
    justify-content: space-evenly;
    gap: 600px;
    border-radius: 8px;
    
   
      
}

#btn_agregar,
#search{
    width: 180px;
    height:35px;   
    border-radius: 8px; 
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.49);    

}

#table{
border-radius: 8px;
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.49);

}

#btn_agregar-co{
    width:400px;
    height:35px;   
    border-radius: 8px; 
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.49);    

}
#containerlo{
    display: flex;
    flex-direction: row;
    
  
}

.precio-u{
    color:black;

}

.agregarbtn{
    
    width:70px;
    height:35px;   
    border-radius: 8px; 
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.49);  
    
}

.btn-agregar{
    display: flex;
    justify-content: row;
    justify-content: space-evenly;
    
}
.agregA{
    margin-left:100px ;
}